@{
    ViewData["Title"] = "Kayıt Başarısız...";
}

<!DOCTYPE html>
<html>
<head>


    <style>

        .deneme {
            text-align: center;
            padding-top: 20%;
            padding-right: 10%;
        }
    </style>




</head>


<body>

    <div class="deneme">

        <h4>KAYIT BAŞARISIZ LÜTFEN BİLGİLERİNİZİ TEKRARDAN KONTROL ET...</h4>


    </div>


</body>

</html>

