
@{
    ViewData["Title"] = "New Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="rounded content-form col-sm-5 ">
    <form>

        <div class="form-group">
            <label for="tckimlik_no">TC Kimlik No</label>
            <input id="tckimlik_no" type="tc" pattern="^\d{4} \d{3} \d{2} \d{2}$" required class="form-control">

            <div class="form-group">
                <label for="phone_no">Telefon Numarası</label>
                <input id="phonenum" type="tel" pattern="^\d{4} \d{3} \d{2} \d{2}$" required class="form-control" id="phone_no">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Şifreniz</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifreniz">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Yeni Şifreniz Tekrar</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Şifreniz">
            </div>

    </form>
    <div class="new-member text-center">

        @Html.ActionLink("Kaydet", "NewPassword");
    </div>
</div>

